# Maven generation directory #
##############################
target/

# API within sources         #
##############################
src/doc/api

# Mac Os related files       #
##############################
.DS_Store

# UNIX related files         #
##############################
*~

# Eclipse related files      #
##############################
.settings
.classpath
bin
.buildpath

# Output files               #
##############################
similar2logo-examples/output/*
