language: java
cache:
  directories:
  - .autoconf
  - $HOME/.m2
before_install:
 - "git clone https://github.com/gildasmorvan/similar"
 - "cd similar"
 - "mvn install"
 - "cd .."
script: mvn clean install
