language: java
cache:
  directories:
  - .autoconf
  - $HOME/.m2
before_install:
 - "git clone https://github.com/gildasmorvan/similar"
 - "cd similar"
 - "mvn install"
 - "cd .."
script: mvn clean install
after_script: mvn sonar:sonar -Dsonar.organization=gildasmorvan-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${SONAR_CLOUD}
before_deploy:
  - export RELEASE_ZIP_FILE=$(ls /home/travis/build/gildasmorvan/similar2logo/similar2logo-distribution/target/similar2logo-distribution-*-bin.zip)
  - echo "deploying $RELEASE_ZIP_FILE to GitHub releases"
deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file: "${RELEASE_ZIP_FILE}"
  skip_cleanup: true
  on:
    tags: true
